.main{
    height: auto;
    width: 100%;;
    /* border: 1px solid red; */
    background-color: rgb(226, 248, 248);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.example-card {
    max-width: 336px; 
    max-height: 486px;
    border-radius:10px;
    flex: 1 1 calc(33.33% - 20px); /* Take up 1/3 of the container width minus margin */
    margin: 10px; /* Margin between cards */
    box-sizing: border-box; 
 }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .card{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    cursor: pointer;
   }
   button:hover{
    background-color: green;
    color: white;
   }
   /* .search{
margin: 10px 0px 10px 236px;
   } */
   input{
    height: 45px;
    border-radius: 10px;
    width: 350px;
   }
   button{
    margin: 5px 5px 5px 5px;
   }