<div class="body">
<div class="container main">
    <button (click)="navigate()"><img src="src/assets/arrow icon.png" alt="Arrow Icon" style="height: 30px; width: 30px;padding-top: 5px;"></button>
    <div class="row">
        <div class="col"><h2>BILLING ADDRESS</h2></div>
        <div class="col"><h2>PAYMENT</h2></div>
    </div>
    <div class="row">
        <div class="col">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="input" placeholder="Nouman" type="text"></div>
        <div class="col">
            Accepted Card &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img class="img" src="assets/card1.jpg" alt="Accepted Card 1">&nbsp;&nbsp;
            <img class="img" src="assets/card2.jpg" alt="Download Card">&nbsp;&nbsp;
            <img class="img" src="assets/card3.jpg" alt="Image 1">&nbsp;&nbsp;
            <img class="img" src="assets/card4.jpg" alt="Image 2">
          </div>
          
    </div>
    <div class="row">
        <div class="col">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="input" placeholder="Example@Example.com" type="text"></div>
        <div class="col">Name On Card &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input  placeholder="ATM Card" class="input" type="text"></div>
    </div>
    <div class="row">
        <div class="col">Address&nbsp;&nbsp;&nbsp;&nbsp; <input class="input" placeholder="Room-Street-Locality" type="text"></div>
        <div class="col">Credit Card No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input  placeholder="1111-2222-3333-4444" class="input" type="number"></div>
    </div>
    <div class="row">
        <div class="col">City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="input" placeholder="Burewala" type="text"></div>
        <div class="col">Exp Month  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input placeholder="January"  class="input" type="month"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div style="width: 50px; margin-left: -13px;" class="col">State <input placeholder="Pakistan" class="put" type="text"></div>
                <div style="margin-left: -100px;" class="col">Zip Code <input placeholder="123 456" class="put" type="number"></div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">Exp Year &nbsp;&nbsp;  <input placeholder="2022" class="put" type="number"></div>
                <div class="col">CW  &nbsp;  <input placeholder="1234" style="height: 33px; width: 143px;" type="number"></div>
            </div>
        </div>
    </div>
    <div style="padding: 0px 0px 15px 0px;" class="row">
        <button  class="btn btn-primary">Proceed To Chackout</button>
    </div>
</div>
</div>