/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* styles.css or styles.scss */
.snackbar-success {
    background-color: green !important; /* Success background color */
    color: white; /* Text color */
  }
  
  .snackbar-error {
    background-color: red !important; /* Error background color */
    color: white; /* Text color */
  }
  