<h2 mat-dialog-title>Popup Filter</h2>
<div mat-dialog-content>
  <form [formGroup]="filterForm">
    <!-- Dynamic Brands -->
    <div class="row">
      <h1>Brand</h1>
    </div>
    <div class="row">
      <div class="col" *ngFor="let brand of brands">
        {{ brand | titlecase }} 
        <input type="checkbox" [formControlName]="brand" />
      </div>
    </div>

    <!-- Dynamic Categories -->
    <div class="row">
      <h1>Category</h1>
    </div>
    <div class="row">
      <div class="col" *ngFor="let category of categories">
        {{ category | titlecase }}
        <input type="checkbox" [formControlName]="category" />
      </div>
    </div>
  </form>
</div>

<!-- <div mat-dialog-content>
  <form [formGroup]="filterForm"> 

    <div class="row off-set-3"><h1>Brand</h1></div>
    <div class="row">
      <div class="col">
        OPPO <input type="checkbox" formControlName="oppo">
      </div>
      <div class="col">
        Tecno <input type="checkbox" formControlName="tecno">
      </div>
      <div class="col">
        GoldenMark <input type="checkbox" formControlName="goldenMark">
      </div>
    </div>

    <div class="row"><h1>Category</h1></div>
    <div class="row">
      <div class="col">
        Hardware <input type="checkbox" formControlName="hardware">
      </div>
      <div class="col">
        Electronic <input type="checkbox" formControlName="electronic">
      </div>
    </div>

  </form>
</div> -->

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="filter()">Filter</button> <!-- Call filter method -->
</div>
